.pricepage {
  margin-bottom: 30px;
  min-height: 500px;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-size: 30px;
  padding: 0 30px;
}

.text h1 {
  font-weight: 700;
}

.houselist {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 60px 15px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
}